html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  
}

* {
  margin: 0px;
  padding: 0px;
  color: #412926;
  /* outline: 2px solid rebeccapurple; */
}

a {
  text-decoration: none;
  display: block;
  cursor: pointer;
}

::selection {
    background-color: #f0a5a5;
    color: white;
}


body {
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  width: auto;
  margin-left: 280px;
  padding-right: 32px;
  padding-left: 32px;
  text-rendering: optimizeLegibility;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #e8dbd0;
  background: url(./assets/photos/index-bg1-v4.svg) no-repeat center center fixed;
  background-size: cover;
}

.main-content {
  
  padding-left: 62px;
  padding-right: 62px;
  margin-top: 62px;
  margin-bottom: 62px;
}


h2 {
  color: #f0a5a5;
}

.nav-container {
  background-color: #f3f3f2;
  height: 100%;
  width: 280px;
  padding-bottom: 8px;
  padding-left: 35px;
  padding-right: 31px;
  padding-top: 31px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0px;
  top: 0px;
  bottom: 0px; 
  -webkit-box-shadow: -1px 0px 34px 15px rgba(164,164,164,0.1); 
  box-shadow: -1px 0px 34px 15px rgba(164,164,164,0.1);
}

.logo {
  height: 224px;
  width: 217px;
}

.logo-img {
  height: 150px;
  width: 150px;
  border-radius: 15px;
}

.items-container .items{
  list-style: none;
  height: 305px;
  width: 217px;
}

.items li a {
  height: 35px;
  width: auto;
  padding: 4px;
  font-size: 19px;
  font-family: 'Rubik', Arial, sans-serif;
  margin-top: 7px;
  margin-bottom: 7px;
  color: #412926;
  transition: color 0.3s;
}

.items li a:hover {
  color: #f0a5a5;
}

.socials {
  display: inline;
  padding-bottom: 35px;
}

.socials .socials-icon {
  display: inline;
  padding-right: 10px;
  
}

.socials-icon img {
  height: 25px;
  width: 25px;
  margin-bottom: 15px;
}

.section.landing {
  height: 830px;
}

.section.landing h1 {
  font-size: 50px; 
  margin-bottom: 150px;
  width: fit-content;
}

.section h2 {
  font-size: 35px;
  margin-bottom: 40px;
  padding-left: 15px;
  width: 900px;
}

.section.landing p {
  font-size: 23px;
  width: 700px;
  padding-left: 15px;
  padding-bottom: 100px;
  color: #6f655f;
  font-family: 'Rubik', Arial, sans-serif;
  line-height: 1.5;
}

.section p {
  font-size: 22px;
  width: 800px;
  padding-left: 15px;
  padding-bottom: 100px;
  color: #967b7b;
  font-family: 'Rubik', Arial, sans-serif;
  line-height: 2;
}

.section.birthday {
  margin-top: 500px;
}

.dances iframe {
  padding-left: 15px;
}

.section.dances .video-caption {
  font-size: 18px;
  margin-top: 0px;
}