html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*, *::before, *::after {
	box-sizing: inherit;
}

* {
	margin: 0px;
	padding: 0px;
  color: #412926;
  scrollbar-color: #f0a5a5 #f3f3f2;
 }

a {
	text-decoration: none;
	cursor: pointer;
	user-select: none;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

[id] { 
	scroll-margin-top: 100px; 
}

::selection {
    background-color: #f0a5a5;
    color: white;
}

body {
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 280px;
  padding: 170px 32px;
  text-rendering: optimizeLegibility;
  background-color: #e8dbd0;
  background: url(./assets/photos/index-bg1-v4.svg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
	flex-direction: column;
}

/* Navigation Bar */

.navbar .items-container a {
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #f3f3f2;
  height: 100%;
  width: 280px;
  padding: 37px 31px 8px 35px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0px;
  top: 0px;
  bottom: 0px; 
  /* box-shadow: -1px 0px 34px 15px rgba(164,164,164,0.1); */
}

.logo-img {
  height: 150px;
  width: 150px;
  border-radius: 15px;
  cursor: pointer;
}

.items-container .items{
  list-style: none;
  height: 305px;
  width: 217px;
}

.items li a {
  height: 35px;
  width: auto;
  padding: 4px;
  font-size: 19px;
  font-family: 'Rubik', Arial, sans-serif;
  margin: 7px 0 7px 0;
  color: #412926;
  transition: color 0.3s;
}

.items li a:hover {
  color: #f0a5a5;
}

.socials {
  display: inline;
  padding-bottom: 35px;
}

.socials .socials-icon {
  display: inline;
  padding-right: 10px;
  
}

.socials-icon img {
  height: 25px;
  width: 25px;
  margin-bottom: 15px;
}

.hover-swap {
  transition: opacity 0.3s ease;
}

.hover-swap:hover {
  opacity: 0.9;
}




/* Main Page Content All Below Here */

.main-content {
  display: flex;
  flex-direction: column;
}


/* Hero Section */

.hero {
  padding-left: 62px;
  margin: 0 0 62px 0;
  display: flex;
  flex-direction: row;
}

.hero {
  height: 830px;
}

.hero h1 {
  font-size: 50px; 
  margin: 62px 0 50px 0;
  width: fit-content;
}

.hero h2 {
  color: #fc9f9f;
  font-size: 35px;
  margin: 0px 0 30px 0;
  padding: 50px 0 0 15px;
  border-top: 4px solid #f3f3f2;
  width: 800px;
}

.hero p {
  font-size: 23px;
  width: 700px;
  padding-left: 15px;
  padding-bottom: 100px;
  color: #6f655f;
  font-family: 'Rubik', Arial, sans-serif;
  line-height: 1.5;
}

.right-img {
  height: 600px;
  width: 600px;
  border-radius: 15px;
  object-fit: cover;
  object-position: bottom;
}


/* Other Sections */

.main {
  display: flex;
  flex-direction: row;
  /* background-color: #f3f3f2;
  border-radius: 15px; */
  justify-content: center;
  padding-bottom: 100px;
  
}

.main .left-content {
  padding: 0 80px 100px 80px;
  background-color: #f3f3f2;
  border-radius: 15px;
  
}

.section h2 {
  color: #fc9f9f;
  font-size: 35px;
  margin: 20px 0 70px 0;
  text-align: center;
}

.section p {
  font-size: 19px;
  width: 800px;
  padding: 0 0px 50px 0px;
  color: #6f655f;
  font-family: 'Rubik', Arial, sans-serif;
  line-height: 2;
}

.video {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.video p {
  width: max-content;
}

.video a:hover {
  color: #f0a5a5;
}

.first.section {
  margin-top: 100px;
}

.first.section p {
  text-align: center;
  font-size: 1.3rem;
}

.third iframe {
  margin-left: 35px;
  border-radius: 10px;
}

.third.section .video-caption {
  font-size: 18px;
  margin-top: 0px;
  padding-left: 35px;
}

/* Scroll Section */

.right-scroll {
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 240px 30px 0 100px;
  font-family: 'Rubik', Arial, sans-serif;
  position: sticky;
  top: 50px;
}

.right-scroll .header {
  color: #412926;
  font-size: 20px;
  margin-bottom: 17px;
}

.right-scroll a {
  font-size: 17px;
}

.right-scroll li {
  border-left: 3px solid white;
  padding: 15px 20px;
  color: #6f655f;
  transition: color 0.3s;
}

.right-scroll li:hover {
  color: #fc9f9f;
}


/* Dark Mode */

body.dark-mode ::selection {
    background-color: white;
    color: #7481a0;
}

body.dark-mode * {
  color: white;
}

body.dark-mode .navbar {
  background-color: #434b5e;
}

body.dark-mode {
  background-color: #2e3440;
  background: url(./assets/photos/darker-blob.jpg) no-repeat center center fixed;
  background-size: cover;
}

body.dark-mode .items li a {
  color: white;
}

body.dark-mode .items li a:hover {
  color: #2e3440;
}

body.dark-mode .hero h2 {
  color: #b5b1bc;
}

body.dark-mode .hero p {
  color: #dbdbdb;
}

body.dark-mode .main .left-content {
  background-color: #434b5e;
}

body.dark-mode .section h2 {
  color: white;
}

body.dark-mode .section p {
  color: #dbdbdb;
}

body.dark-mode .right-scroll .header {
  color: #b5b1bc;
}

body.dark-mode .right-scroll li:hover {
  color: #7481a0;
}